@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  font-family: monospace;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 800px) 1fr;
}

#container {
  /* centered */
  grid-column: 2;
}

#name {
  color: black;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  text-transform: uppercase;
  text-decoration: none;
}

#bio {
  line-height: 1.5;
}

#icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

a.box {
  text-align: center;
  min-height: 230px;
  max-height: 230px;
  border: 1px dotted lightgray;
}

a.box:hover {
  transition: 0.2s;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img.logo {
  width: 50%;
  margin-top: 25%;
}

#linkedin {
  background-color: #2768b2;
}

#scholar {
  background-color: #4186f4;
}

#youtube {
  background-color: #ff0202;
}

#computingwithdata {
  background-image: url(img/book.jpg);
  background-size: 100%;
}

#mlrw {
  background-color: #421f13;
}

#github {
  background-color: #181616;
}

#aiqcon {
  background-color: black;
}

#medium {
  background-color: #151210;
}

#x {
  background-color: white;
}